SECRET_KEY="n=n8fd1w_52=u7#w1)vj45)fs7q4hxbw$t*2bcg_9q5cce6123"
DEBUG="False"
ALLOWED_HOSTS="192.168.1.1, localhost"

POSTGRES_DB="db_name"
POSTGRES_USER="db_user"
POSTGRES_PASSWORD="db_password"
POSTGRES_HOST="db_host"
POSTGRES_PORT="5432"

